<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServiceOrderCreate</servlet-name>
        <servlet-class>org.crm.web.services.create.CreateServiceOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateServiceOrderPot</servlet-name>
        <servlet-class>org.crm.web.services.create.CreateServiceOrderPot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetServiceOrders</servlet-name>
        <servlet-class>org.crm.web.services.obtain.GetServiceOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetServiceOrder</servlet-name>
        <servlet-class>org.crm.web.services.obtain.GetServiceOrderDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderPot</servlet-name>
        <servlet-class>org.crm.web.services.create.CreateOrderPot</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceOrderCreate</servlet-name>
        <url-pattern>/crm.createserviceorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServiceOrderPot</servlet-name>
        <url-pattern>/crm.createserviceorderpot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetServiceOrders</servlet-name>
        <url-pattern>/crm.getserviceorders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetServiceOrder</servlet-name>
        <url-pattern>/crm.getserviceorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderPot</servlet-name>
        <url-pattern>/crm.createorderpot</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
